<table>
<tr>
  <td>
    <table>
    <% var i; var t=""; for (i=0; i<quizes.length; i++){ %>
      <% if(t === quizes[i].tema){
         } else { %>
      <tr>
        <td colspan="3"><% if(i>0){ %><br><% } %><%= quizes[i].tema.toUpperCase() %></td>
      </tr>
      <% } %>
      <tr>
        <td class="tablapregunta">
          <a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a>
        </td>
        <td class="tablapregunta">
          <a href="quizes/<%= quizes[i].id %>/edit"><button>editar</button></a>
        </td>
        <td>
          <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
            <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
              borrar
            </button>
          </form>
        </td>
      </tr>
    <% t = quizes[i].tema; } %>
    </table>
  </td><td>
    <form method="get" action="/quizes?search=search">
      Busqueda de preguntas:<br>
      <input type="text" name="search" value="Texto a buscar" />
      <input type="submit" value="Buscar">
    </form>
    <br>
    <a href="/quizes/new"><button type="button">Crear pregunta</button></a>
  </td>
</tr>
</table>
